.contacts_button {
  border: 1px solid rgb(24, 23, 23);
  border-radius: 4px;
  background-color: rgb(191, 197, 195);
  margin-left: 10px;
  padding: 5px 10px;
}

.contacts_button:hover,
.contacts_button:focus {
  background-color: rgb(10, 138, 243);
  border-color: transparent;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.item:hover,
.item:focus {
  color: tomato;
}
